<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
        <h1 class="title">Produtos</h1>
        <h2 class="subtitle">
          Confira nossos super produtos
        </h2>
    </div>
    <div class="columns is-multline">
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/400/200/1280/960" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
             <h1 class="has-text-centered">R$ 299.90
               <a href="" class="button is-success is-fullwidth"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>Comprar</a>
             </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/400/200/1280/960" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
             <h1 class="has-text-centered">R$ 299.90
               <a href="" class="button is-success is-fullwidth"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>Comprar</a>
             </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/400/200/1280/960" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
             <h1 class="has-text-centered">R$ 299.90
               <a href="" class="button is-success is-fullwidth"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>Comprar</a>
             </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/400/200/1280/960" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
             <h1 class="has-text-centered">R$ 299.90
               <a href="" class="button is-success is-fullwidth"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>Comprar</a>
             </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Moder Web Store</strong> by <a href="https://github.com/marqueslu">Lucas Marques</a>.
    </p>
  </div>
</footer>
