<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title larger-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form [formGroup]="form">
            <div class="field">
              <p class="control">
                <input class="input is-large" 
                  type="email" placeholder="E-mail" 
                  formControlName="email" 
                  [ngClass]="{'is-danger': (!form.controls.email.valid && !form.controls.email.pristine)}"
                >
                <span class="tag is-danger" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">e-mail
                  inválido</span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input is-large" 
                  type="password" placeholder="Senha" 
                  formControlName="password" 
                  [ngClass]=" {'is-danger': (!form.controls.password.valid && !form.controls.password.pristine)}"
                >
                <span class="tag is-danger" *ngIf="!form.controls.password.valid && !form.controls.password.pristine">Senha
                  inválida</span>
              </p>
            </div>
            <div class="field">
              <p>
                <button (click)="submit()" class="button is-primary is-inverted is-outlined is-large is-fullwidth"
                  [disabled]="!form.valid">Entrar</button>
                <br />
                <a routerLink="/signup" class="button is-link is-outlined is-fullwidth">Ainda Não sou cadastrado</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
