<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title larger-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="field">
            <p class="control">
              <input class="input is-large" type="email" placeholder="Email">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input is-large" type="password" placeholder="Senha">
            </p>
          </div>
          <div class="field">
            <p>
              <a href="" class="button is-primary is-inverted is-outlined is-large is-fullwidth">Entrar</a>
              <br />
              <a href="" class="button is-link is-outlined is-fullwidth">Ainda Não sou cadastrado</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
