<section class="hero is-info is-small animated slideInDown">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand navbar-start">
          <a routerLink="/home" class="navbar-item medium-text animate pulse infinite">
            Modern Web Store
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
          <app-sub-menu></app-sub-menu>
      </div>
    </nav>
  </div>
</section>
